@using VendorOrders.Models

<h1>New Order for this Vendor</h1>

<form action="/vendors/{Id}/orders/" method="post">
  <label for="title">Title of Order</label>
  <input type="text" name="title" id="title" placeholder="Order Title"><br>
  <label for="description">Order Description</label>
  <input type="text" name="description" id="description" placeholder="Order Description"><br>
  <label for="price">Order Price</label>
  <input type="number" name="price" id="price" placeholder="Order Price" min="1"><br>
  <label for="date">Order Date</label>
  <input type="date" name="date" id="date" placeholder="date"><br>

  <button type="submit">Add Order</button>
</form>