@{
  Layout = "_Layout";
}

<h1>Create A New Vendor Entry</h1>

<form action="/vendors" method="post">
  <input type="text" name="name" id="name" placeholder="Vendor's Name">
  <button type="submit">Add Vendor</button>
</form>
