@using VendorOrders.Models;
@{
  Layout = "_Layout";
}

<h1>@Model.Name's Orders</h1>

@if (Model.Orders.Count == 0)
{
  <p>No orders to show yet!</p>
}
<p>Add a new order for this vendor <a href="/vendors/@Model.Id/orders/new">here</a>.</p>

@foreach (Order order in Model.Orders)
{
  <span><a href="/vendors/@Model.Id/orders/@order.Id">Order Title: @order.Title<br>Order Id: @order.Id</a></span><br><br>
}

